<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");
    </style>
    <link rel="stylesheet" href="/css/style.css" />
    <title>News and Events</title>
    <link rel="icon" href="img/circleLogo.png" type="image/png" />
  </head>

  <body id="newsbody">
    <%- include('partials/header', {page: 'newsAndEvents' ,Colour:'#929497',
    alColour:'#ec1e27' }) %>
    <!-- <h1>Latest in tech|SDDS & Upcoming Events</h1> -->
    <div class="pageDiv" id="newspage">
      <div class="NE mainDiv pageDiv">
        <div class="news-container" style="flex: 1">
          <div class="news">
            <h1>NEWS</h1>
            <div class="stats">
              <div class="card-rw">
                <img src="/img/p3.png" />
                <div class="caption">
                  <h3>Get ready for Design Hacks 2024! 🚀</h3>
                  <p class="author">
                    Pratham Garg <span class="date"> — June 27,2024</span>
                  </p>
                  <p>
                    A placeholder for a short sample of the news article goes
                    here to help the user choose an article.
                  </p>
                </div>
              </div>
              <div class="card-rw">
                <img src="/img/p1.jpg" />
                <div class="caption">
                  <h3>This is Another Post for News</h3>
                  <p class="author">
                    Pratham Garg <span class="date"> — June 27,2024</span>
                  </p>
                  <p>
                    A placeholder for a short sample of the news article goes
                    here to help the user choose an article.
                  </p>
                </div>
              </div>
              <div class="card-rw">
                <img src="/img/p2.jpeg" />
                <div class="caption">
                  <h3>And Another Post for SSDC News</h3>
                  <p class="author">
                    Pratham Garg <span class="date"> — June 27,2024</span>
                  </p>
                  <p>
                    A placeholder for a short sample of the news article goes
                    here to help the user choose an article.
                  </p>
                </div>
              </div>
              <div class="card-rw">
                <img src="/img/p4.jpg" />
                <div class="caption">
                  <h3>Keep Going, More News Articles</h3>
                  <p class="author">
                    Pratham Garg <span class="date"> — June 27,2024</span>
                  </p>
                  <p>
                    A placeholder for a short sample of the news article goes
                    here to help the user choose an article.
                  </p>
                </div>
              </div>
              <div class="card-rw">
                <img src="/img/p5.jpeg" />
                <div class="caption">
                  <h3>More More More!!!</h3>
                  <p class="author">
                    Pratham Garg <span class="date"> — June 27,2024</span>
                  </p>
                  <p>
                    A placeholder for a short sample of the news article goes
                    here to help the user choose an article.
                  </p>
                </div>
              </div>
              <div class="card-rw">
                <img src="/img/group.png" />
                <div class="caption">
                  <h3>Get ready for Design Hacks 2024! 🚀</h3>
                  <p class="author">
                    Pratham Garg <span class="date"> — June 27,2024</span>
                  </p>
                  <p>
                    A placeholder for a short sample of the news article goes
                    here to help the user choose an article.
                  </p>
                </div>
              </div>
              <div class="card-rw">
                <img src="/img/group.png" />
                <div class="caption">
                  <h3>Get ready for Design Hacks 2024! 🚀</h3>
                  <p class="author">
                    Pratham Garg <span class="date"> — June 27,2024</span>
                  </p>
                  <p>
                    A placeholder for a short sample of the news article goes
                    here to help the user choose an article.
                  </p>
                </div>
              </div>
              <div class="card-rw">
                <img src="/img/group.png" />
                <div class="caption">
                  <h3>Get ready for Design Hacks 2024! 🚀</h3>
                  <p class="author">
                    Pratham Garg <span class="date"> — June 27,2024</span>
                  </p>
                  <p>
                    A placeholder for a short sample of the news article goes
                    here to help the user choose an article.
                  </p>
                </div>
              </div>
              <div class="card-rw">
                <img src="/img/group.png" />
                <div class="caption">
                  <h3>Get ready for Design Hacks 2024! 🚀</h3>
                  <p class="author">
                    Pratham Garg <span class="date"> — June 27,2024</span>
                  </p>
                  <p>
                    A placeholder for a short sample of the news article goes
                    here to help the user choose an article.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="events-container" style="flex: 1">
          <div class="events">
            <h1>EVENTS</h1>
            <div class="stats">
              <div class="card-rw">
                <img src="/img/p3.png" />
                <div class="caption">
                  <h3>Get ready for Design Hacks 2024! 🚀</h3>
                  <p class="date">June 24, 2024 — June 28, 2024</p>
                </div>
              </div>
              <!-- <div class="card-rw">
              <img src="/img/group.png">
              <div class="caption">
                <h3>Get ready for Design Hacks 2024! 🚀</h3>
                <p>June 24, 2024 - June 28, 2024</p>
                <p>A placeholder for a short sample of the news article goes here to help the user choose an article.
                </p>
              </div>
            </div>
            <div class="card-rw">
              <img src="/img/group.png">
              <div class="caption">
                <h3>Get ready for Design Hacks 2024! 🚀</h3>
                <p>June 24, 2024 - June 28, 2024</p>
                <p>A placeholder for a short sample of the news article goes here to help the user choose an article.
                </p>
              </div>
            </div> -->
            </div>
          </div>
        </div>
      </div>
      <div id="newsEventsSwitch">
        <div id="newsBtn">NEWS</div>
        <div id="eventsBtn">EVENTS</div>
      </div>
      <%- include('partials/footer', {page: 'newsAndEvents' }) %>
    </div>

    <script>
      function checkWindowSize() {
        if (window.innerWidth > 800) {
          document.querySelector(".news").style.display = "block";
          document.querySelector(".news-container").style.display = "block";
          document.querySelector(".events-container").style.display = "block";
        }
      }
      document.getElementById("newsBtn").addEventListener("click", function () {
        document.getElementById("eventsBtn").style.backgroundColor = "#fff";
        document.getElementById("newsBtn").style.backgroundColor = "#ec1e27";
        document.getElementById("newsBtn").style.color = "#fff";
        document.getElementById("newsBtn").style.borderColor = "#ec1e27";
        document.getElementById("eventsBtn").style.color = "#757575";
        document.getElementById("eventsBtn").style.borderColor = "#fff";
        document.querySelector(".events-container").style.display = "none";
        document.querySelector(".news").style.display = "block";
        document.querySelector(".news-container").style.display = "block";
      });

      document
        .getElementById("eventsBtn")
        .addEventListener("click", function () {
          document.getElementById("eventsBtn").style.backgroundColor =
            "#ec1e27";
          document.getElementById("eventsBtn").style.borderColor = "#ec1e27";
          document.getElementById("newsBtn").style.borderColor = "#fff";
          document.getElementById("eventsBtn").style.color = "#fff";
          document.getElementById("newsBtn").style.color = "#757575";
          document.getElementById("newsBtn").style.backgroundColor = "#fff";
          document.querySelector(".news").style.display = "none";
          document.querySelector(".news-container").style.display = "none";
          document.querySelector(".events-container").style.display = "block";
          document.querySelector(".events-container").style.minHeight = "80vh";
        });
      window.addEventListener("resize", checkWindowSize);
      window.onload = checkWindowSize;
    </script>
  </body>
</html>
